
body {
	background-color: #7f7f7f;
	font: "Courier New", Courier, monospace;
	background: #7f7f7f url(../pictures/abs.png) no-repeat top center fixed;
}


h5 {
	background-color:;
}

img {
        max-width: 100%;
	height: auto;
	width: auto\9;
}
